# SMTP Config for Contact Form
SMTP_USER=info@thefndrs.com
SMTP_HOST=smtp.zoho.com
SMTP_PASS=your-email-password-or-app-password

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=your-sanity-project-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-06-26
